* {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

.container{
margin: 2rem 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  background-color: #8888fa;
  padding: 0.5rem;
border-radius: 10px;
}

header a p {
  color: rgb(33, 33, 33);
  font-family: Helvetica;
  font-weight: bolder;
}

.navlist {
  display: flex;
}

.navlist li {
  list-style: none;
  font-weight: bold;
}

.navlist li a {
  font-size: 20px;
  text-decoration: none;
  padding: 10px;
  color: #151515;
}

.navlist li a:hover {
  color: #86b4ff;
  font-size: 22px;
  transition: ease-in-out 0.3s;
}


main {
  width: 100%;
}

.introduction h1 {
  text-align: center;
}
