/* 
/
/ GLOBAL STYLES FOR ALL PAGES
/ These reflect on all pages linked with abel.css respectively
/
*/
* {
  scroll-behavior: smooth;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 0.5rem;
  border-radius: 10px 10px 0 0;
  border-bottom: 2px solid #1f1f1f;
}

header a p {
  color: rgb(33, 33, 33);
  font-family: Helvetica;
  font-weight: bolder;
}

.navlist {
  display: flex;
}

.navlist li {
  list-style: none;
}

.navlist li a {
  font-size: 18px;
  text-decoration: none;
  padding: 10px;
  color: #1f1f1f;
}

.navlist li a:hover {
  color: #166495;
  font-size: 20px;
  transition: ease-in-out 0.3s;
}

/*
/
/ END OF GLOBAL STYLES
/
/
*/

main {
  align-items: center;
}

.introduction h1 {
  text-align: center;
}

.introbox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  max-width: 900px;
  margin: 40px auto;
}

.introbox img {
  width: 300px;
  border-radius: 8px;
}
.introtext p {
  line-height: 1.5;
}

table {
  border-collapse: collapse;
  box-shadow: 0 0 8px rgb(0, 0, 0, 1);
  border-radius: 5px;
  overflow: hidden;
}

th,
td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #1f73f9;
}

td {
  color: #333;
}
