body{
    padding: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}
.form label{
    display: block;
    font-weight: 500;
    margin: 1rem 0;
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.25px solid #b0b0ff;
    padding: 2rem;
    border-radius: 10px;
}

.form input[type="text"],.form input[type="email"],.form textarea{
    width: 400px;
    padding: 0.5rem;
    border: 1px solid;
    border-radius: 4px;
    background-color: white;
    color: black;
    transition: border-color 0.3s, box-shadow 0.3s;
}