/*
copyright &copy; GROUP GK 2026
*/
*{
  list-style-type: none;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.hero{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkslateblue;
  padding: 10rem;
border-radius:  0 0 10px 10px;
}

.hero .intoduction{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}