main {
  width: 100%;
}

.welcome {
  min-height: 90vh;
  background:
    linear-gradient(to top, rgb(255, 255, 255) 0%, rgba(0, 0, 0, 0) 90%),
    url(/images/horizonbeach.jpg);
  background-size: cover;
  background-position: center;
  display: flow-root;
  
}

.welcome h1 {
  text-align: center;
  font-family: var(--heading-font);
  font-size: var(--h1-font);
  letter-spacing: 0.7rem;
  color: var(--normal-color);
}

.welcome h2 {
  text-align: center;
  font-family:Georgia, 'Times New Roman';
  letter-spacing: 0.5rem;
}
.welcome h4{
  text-align: center;
  font-family:Georgia, 'Times New Roman'
}

.bio {
  display:flex;
  text-align: justify;
  gap: 50px;
  align-items:center;     /* aligns vertically */
  justify-content: center;   /* centers everything horizontally */       
  margin: 40px auto; 
  max-width: 865px;
  font-size: 18px;
  line-height: 1.6;
}

.bio img{
  width: 300px; 
  border-radius: 10px;
}

.profile-pic {
    width: 300px;
    height: auto;
    border-radius: 10px;
    
}


.skills{
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  column-gap: 35px;
  row-gap: 0;
  justify-content: center;
  max-width: 100px;
  margin: 30px auto;
}

.skillbox{
  color: black;
  padding: 20px;
  border-radius: 10px;
  width: 375px;
  min-height: 180px;
  text-align: center;
  box-shadow: 0 0 15px rgba(205, 188, 188, 0.5);
  
}

.skill-box:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 20px rgba(56,189,248,0.6);
  transition: 0.3s;
}


#skillbox1{
  background:
    linear-gradient(to top, rgb(255, 255, 255) 0%, rgba(0, 0, 0, 0) 90%),
    url(/images/web-development.jpg);
  background-size: cover;
  background-position: center;
  
}
#skillbox2{
  background:
    linear-gradient(to top, rgb(255, 255, 255) 0%, rgba(0, 0, 0, 0) 90%),
    url(/images/programming.png);
  background-size: cover;
  background-position: center;
  
}
#skillbox3{
  background:
    linear-gradient(to top, rgb(255, 255, 255) 0%, rgba(0, 0, 0, 0) 90%),
    url(/images/horizonbeach.jpg);
  background-size: cover;
  background-position: center;
  
}
#skillbox4{
  background:
    linear-gradient(to top, rgb(255, 255, 255) 0%, rgba(0, 0, 0, 0) 90%),
    url(/images/soft-skills.jpg);
  background-size: cover;
  background-position: center;
  
}

.skillbox ul{
  list-style: none;
  padding:0;         /* removes left spacing */
  margin: 0;
}

.skillbox ul li {
  text-align: left;
}

.skillsimage {
  display:flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.skillsimage img{
    border-radius:10px;
}


table {
  table-layout:auto;
  width: 70%;
  margin: 40px auto;   /* THIS centers it horizontally */
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden; 
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4);   
}

table thead{
  background-color:#1a1919;
  color: white;
  
}

.hob{
  display:grid;
  grid-template-columns: repeat(1, 1fr); /* 2 columns */
  text-align: center;
  max-width: 800px;
  color: black;
  border-radius: 10px;
  margin: 30px auto;
  background:
    linear-gradient(to top, rgb(255, 255, 255) 0%, rgba(0, 0, 0, 0) 90%),
    url(/images/gamingpad.jpg);
  background-size: cover;
  background-position: center;
}

.hob ul{
  list-style: none;
  min-height: 10px;
  padding: 30px;         /* removes left spacing */
 
}

footer{
  text-align: center;
}