/*
* {
  font-family: Arial;
  text-decoration: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
}

header a p {
  color: rgb(33, 33, 33);
  font-family: Helvetica;
}

.navlist {
  display: flex;
}

.navlist li {
  list-style: none;
  font-weight: bold;
}

.navlist li a {
  text-decoration: none;
  padding: 10px;
  color: #36517c;
}

.navlist li a:hover {
  color: #86b4ff;
}

.navlist p a {
  font-weight: bolder;
}
*/

.welcome {
  padding: 50px;
  min-height: 90vh;
  background:
    linear-gradient(to top, rgb(255, 255, 255) 0%, rgba(0, 0, 0, 0) 90%),
    url(/images/);
  background-size: cover;
  background-position: center;
  display: flow-root;
}

.welcome h1 {
  text-align: center;
  font-family: var(--heading-font);
  font-size: var(--h1-font);
  letter-spacing: 0.7rem;
  color: var(--normal-color);
}

.welcomebox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  max-width: 900px;
  margin: 40px auto;
}

.welcomebox img {
  width: 300px;
  border-radius: 8px;
}

.welcometext h2 {
  font-size: 2rem;
  letter-spacing: 0.1rem;
  color: var(--normal-color);
}

.welcometext p {
  font-size: 1.3rem;
  line-height: 1.5;
  color: var(--normal-color);
}
