@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Manrope:wght@200..800&family=Monsieur+La+Doulaise&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Prata&display=swap");

* {
  scroll-behavior: smooth;
  scroll-margin-top: 3rem;
  text-decoration: none;
}

:root {
  --heading-font: "Prata", serif;
  --body-font: "Manrope", sans-serif;
  --logo-font: "Montserrat", sans-serif;
  --cursive1: "Great Vibes", cursive;
  --cursive2: "Monsieur La Doulaise", cursive;
  --logo-color: #333;
  --main-color: #fff;
  --normal-color: #1f1f1f;
  --hover-color: #166495;
  --accent-color: #964516;
  --h1-font: 3rem;
  --h2-font: 2rem;
  --text-font: 1.3rem;
}

body {
  font-family: var(--body-font);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  color: var(--logo-color);
  font-family: var(--logo-font);
  margin-right: auto;
  flex: 1;
  z-index: 2;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.75);
  border-bottom: 1px solid var(--normal-color);
  padding: 0.5rem 2rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  backdrop-filter: blur(10px);
}

.nav-wrapper {
  position: absolute;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.navlist {
  display: flex;
  gap: 40px;
}

.navlist li {
  list-style: none;
}

.navlist li a {
  position: relative;
  font-family: var(--logo-font);
  font-size: 18px;
  text-decoration: none;
  padding: 10px;
  color: var(--links-color);
}

.navlist li a:hover {
  color: var(--accent-color);
}

.navlist li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 5px;
  width: 0%;
  height: 2px;
  background-color: var(--accent-color);
  transition: width 0.3s ease;
}

.navlist li a:hover::after {
  width: 100%;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: block;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(10px);
  min-width: 150px;
  top: 120%;
  left: 0;
  opacity: 0;
  transform: translateY(10px);
  pointer-events: none;
  transition: all 0.3s ease;
  border-radius: 8px;
  overflow: hidden;
}

.dropdown-content li a {
  display: block;
  padding: 10px 15px;
  transition: background 0.2s ease;
}

.dropdown-content li a:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.dropdown-content li a:hover::after {
  width: 70%;
}

.dropdown:hover .dropdown-content {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

/* FOOTER SECTION */
.footer_text {
  border-top: 1px solid var(--normal-color);
  text-align: center;
  padding: 20px;
  background: var(--normal-color);
}

.footer_text p {
  color: var(--main-color);
  font-family: var(--logo-font);
  font-size: 0.9rem;
  letter-spacing: 1px;
}

.footer_icons {
  align-items: center;
}

.footer_icons a {
  color: var(--main-color);
  font-size: 2rem;
  padding: 0.5rem;
  transition: all ease 250ms;
}

.footer_icons a:hover {
  color: var(--hover-color);
  font-size: 2.2rem;
  padding: 0.6rem;
}

.top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}

.top i {
  font-size: var(--text-font);
  color: var(--main-color);
  padding: 14px;
  background: var(--logo-color);
  border-radius: 1rem;
  transition: all 0.35s ease-in-out;
}

.top i:hover {
  transform: scale(1.13);
  color: var(--main-color);
  background: var(--accent-color);
}

/* welcome section */
.group_welcome {
  /*padding: 50px;*/
  min-height: 90vh;
  background:
    linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgba(0, 0, 0, 0) 30%),
    url(/images/groupphoto1.jpeg);
  background-size: cover;
  background-position: center;
  display: flow-root;
}

#titlebox {
  text-align: center;
  font-family: var(--heading-font);
  font-size: 4rem;
  color: var(--normal-color);
  letter-spacing: 0.2rem;
  padding: 1rem;
  align-items: center;
}

#text1 {
  font-family: var(--h1-font);
  padding: 1rem;
}

#text2 {
  font-family: var(--logo-font);
  font-size: 5.5rem;
  letter-spacing: 0;
  font-weight: 500;
  padding: 1rem;
}

/* Our team section */
.our_team {
  /*padding: 50px;*/
  min-height: 90vh;
  display: flow-root;
}

.our_team h2 {
  text-align: center;
  font-family: var(--heading-font);
  font-size: var(--h1-font);
  margin-bottom: -2px;
  letter-spacing: 0.7rem;
  color: var(--normal-color);
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 325px;
  background-color: #f0f0f0;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin: 20px;
}

.card img {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 16px;
}

.card-content h3 {
  font-size: 1.7rem;
  margin-top: 0;
  margin-bottom: 0;
}

#card-curs {
  font-family: var(--cursive1);
  font-size: 2.1rem;
  letter-spacing: 2px;
  padding: 0.5rem;
}

.card-content p {
  color: var(--normal-color);
  font-size: 1.1rem;
  line-height: 1.3;
}

.card-content .btn {
  display: inline-block;
  padding: 8px 16px;
  background-color: var(--logo-color);
  text-decoration: none;
  border-radius: 4px;
  color: #fff;
  transition: all ease 300ms;
}

.card-content .btn:hover {
  background-color: var(--accent-color);
  padding: 10px 18px;
}
